__pycache__
Charts/*
Illustrations/*
Musics/*
Output/*
programFileBackups/*
data/illustrationFilenameLUT.json
data/chartFilenameLUT.json
data/onProcessingSongsInformation.json
data/cache
dist
build
main.spec
Tesseract-OCR
get_time.py